*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",sans-serif;
}

body{
background:
linear-gradient(
135deg,
#f5efe6,
#ede0d4,
#d6ccc2
);

min-height:100vh;

color:#5b4636;
}

a{
text-decoration:none;
}

.container{
padding:40px;
}

.card{

background:
rgba(255,255,255,.65);

backdrop-filter:
blur(10px);

border-radius:24px;

padding:20px;

margin-bottom:25px;

border:
1px solid
rgba(255,255,255,.6);

box-shadow:
0 8px 30px
rgba(0,0,0,.08);

transition:.3s;
}

.card:hover{

transform:
translateY(-5px);

background:
#fffaf5;
}

button{

background:
#c89f94;

color:white;

border:none;

padding:
12px 20px;

border-radius:
12px;

font-size:15px;

cursor:pointer;

transition:.3s;
}

button:hover{

background:
#a98467;
}

h1{

font-size:42px;

margin-bottom:20px;

color:#7f5539;
}

h3{

color:#9c6644;
}

p{

line-height:1.8;
}

.navbar{

background:
rgba(255,255,255,.6);

padding:18px;

border-radius:18px;

margin-bottom:30px;

backdrop-filter:
blur(8px);
}
